
nav .navbar-nav a {
    color: #cecece;
}

/* .navbar-nav a:link {

}

.navbar-nav a:visited {
    
} */

nav .navbar-nav a:hover {
    color: gold !important;
    transition: 700ms;
    background: #cecece40;
}

/* .navbar-nav a:active {

} */

@media (min-width: 992px) {
    #navbarClick {
        display: flex !important; 
        flex-direction: row-reverse;
    }
    #item1 {
        order: 1;
    }
    #item2 {
        order: 2;
    }
    #item3 {
        order: 3;
    }
    #item4 {
        order: 4;
    }
    #item5 {
        order: 5;
    }
    #item6 {
        order: 6;
    }
    
}

p {
    font-size: 1.3rem; 
    color: grey;
}

h6 {
    display: inline;
    margin-left: 10px;
    font-size: 20px;
}

hr {
    width:50%;
    margin-left:0;
}


footer a {
    color: #cecece;
    width: 50%;
}

footer .navbar-nav a:link {

}

footer .navbar-nav a:visited {
    
}

footer a:hover {
    color: gold;
    transition: 700ms;
    background: #cecece40;
}
footer li {
    height: 50%;
}

/* .coraModoNoFavorito, .fa-heart {
    font-size: 30px !important; 
    margin: 7px 7px auto auto !important; 
    color: rgb(204,204,204) !important; 
    background: none  !important;
    border: 0 !important;
    color: inherit  !important;
    float:right !important;
} */